#page-logo{
    font-family: 'Product Sans', monospace;
    font-size: 20px;
    margin-left: 15px;
    margin-top: -2px;
}
#page-logo-icon{
    margin-right: 1px;
}
.materialize-indigo {
    background-color:#3A53AF !important
}

.nav-fixed{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

#user-img{
    width: 60%;
    height: auto;
    border-radius: 10px;
}

.nav-fixed {
    top: 0;
}

h2 {
    font-family: 'Product Sans', monospace;
}

#dropdown1{
    width: 220px !important;
}
  
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}


#text-animation{
    font-family: 'Product Sans', monospace;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #fff, #000, #fff);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 1.5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*mobile*/
/*mobile*/
@media only screen and (max-width: 600px) {
    #user-img{
        height: auto;
        width: 100%;
    }
}

.bio p::first-letter{
    -webkit-initial-letter: 4;
    initial-letter: 4
}

.justifyText{
  text-align: justify;    
  text-justify: inter-word;
}

/*rounded*/
.card{
    border-radius: 9px;
}

.materialize-indigo {
    background-color: #3A53AF !important
  }
  
  #contents {
    margin-top: 90px;
  }
  
  img {
    height: 200px;
  }

  .modal{
    width: 50%;
  }
  